In [50]:
import pandas as pd
import numpy as np

original_df=pd.read_csv('healthcare-dataset-stroke-data.csv')
original_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [49]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [52]:
# Sample data provided by the user
data = {
    "age": [67.0, 80.0, 49.0, 79.0, 81.0, 13.0, 81.0, 35.0, 51.0, 44.0],
    "hypertension": [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
    "heart_disease": [1, 1, 0, 0, 0, 0, 0, 0, 0, 0],
    "avg_glucose_level": [228.69, 105.92, 171.23, 174.12, 186.21, 103.08, 125.20, 82.99, 166.29, 85.28],
    "bmi": [36.6, 32.5, 34.4, 24.0, 29.0, 18.6, 40.0, 30.6, 25.6, 26.2],
    "gender": [1, 1, 0, 0, 1, 0, 0, 0, 1, 0],
    "smoking_status_Unknown": [0, 0, 0, 0, 0, 1, 0, 0, 0, 1],
    "smoking_status_formerly smoked": [1, 0, 0, 0, 1, 0, 0, 0, 1, 0],
    "smoking_status_never smoked": [0, 1, 0, 1, 0, 0, 1, 1, 0, 0],
    "smoking_status_smokes": [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
    "stroke": [1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
}

# Creating a DataFrame from the sample data
df = pd.DataFrame(data)

# Creating a new DataFrame without PII (Personally Identifiable Information)
# Assuming 'age' is considered PII in this context
df_PII_less = df.drop('age', axis=1)

df_PII_less.head()  # Display the first few rows of the new DataFrame

,hypertension,heart_disease,avg_glucose_level,bmi,gender,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,stroke
0,0,1,228.69,36.6,1,0,1,0,0,1
1,0,1,105.92,32.5,1,0,0,1,0,1
2,0,0,171.23,34.4,0,0,0,0,1,1
3,1,0,174.12,24.0,0,0,0,1,0,1
4,0,0,186.21,29.0,1,0,1,0,0,1

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.svm import SVC

# Splitting the data into features and target variable
X = df_PII_less.drop('stroke', axis=1)
y = df_PII_less['stroke']

# Splitting data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Dictionary of models
models = {
    "Logistic Regression": LogisticRegression(),
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "SVM": SVC(),
    "knn": KNeighborsClassifier(5),
    "extremely_random_trees": ExtraTreesClassifier(random_state=1),
    "gradient_boosting": GradientBoostingClassifier(random_state=1),
    "adaboost": AdaBoostClassifier(random_state=1)
}



# Function to train and evaluate models
def train_and_evaluate(models, X_train, X_test, y_train, y_test):
    for name, model in models.items():
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        accuracy = accuracy_score(y_test, y_pred)
        print(f"{name} Accuracy: {accuracy}")


# Convert your feature set to a C-contiguous array
X_train_contiguous = np.ascontiguousarray(X_train)
X_test_contiguous = np.ascontiguousarray(X_test)

# Then use these arrays for training and testing
train_and_evaluate(models, X_train_contiguous, X_test_contiguous, y_train, y_test)

Logistic Regression Accuracy: 0.0
Decision Tree Accuracy: 0.0
Random Forest Accuracy: 0.0
SVM Accuracy: 0.0
knn Accuracy: 0.0
extremely_random_trees Accuracy: 0.0
gradient_boosting Accuracy: 0.0
adaboost Accuracy: 0.0

In [44]:
def test_model(name, model):
    model.fit(X_train_contiguous, y_train)
    print('Test:', name, model.score(X_test_contiguous, y_test))
    print('Train:', name, model.score(X_train_contiguous, y_train))
    return model

for name, model in models.items():
    test_model(name, model)

Test: Logistic Regression 0.0
Train: Logistic Regression 1.0
Test: Decision Tree 0.0
Train: Decision Tree 1.0
Test: Random Forest 0.0
Train: Random Forest 1.0
Test: SVM 0.0
Train: SVM 1.0
Test: knn 0.0
Train: knn 1.0
Test: extremely_random_trees 0.0
Train: extremely_random_trees 1.0
Test: gradient_boosting 0.0
Train: gradient_boosting 1.0
Test: adaboost 0.0
Train: adaboost 1.0